<div class="description content">
  <p>Rails Camp is a full weekend retreat for people interested in web development to gather and be awesome together. People attend for a variety of reasons: socializing, hacking, learning, teaching, gaming, and more. Though there is a focus on Ruby, we welcome anyone interested in programming or web technologies to join us.</p>
</div>
