.blocks {
  width: 100%;
}

.block {
  background-color: #fce7b5;
  margin: 0px auto;
  max-width: 100%;
  padding: 3rem 1rem;
  text-align: center;

  @media screen and (min-width: 600px) {
    padding: 4rem;
  }

  &.light {
    background-color: #fef7e7;
  }

  &.dark {
    background-color: #3a3d28;
    color: #fce7b5;
  }
}

.block img {
  margin-bottom: 2rem;
}
