.blocks {
  width: 100%;
}

.block {
  margin: 0px auto;
  max-width: 100%;
  padding: 1rem;
  text-align: center;

  @media screen and (min-width: 600px) {
    padding: 2rem;
  }

  &:first-child {
    padding-top: 0;
  }

  &.light {
    background-color: #c3c99b;
  }
}
