.button {
  background-color: #333333;
  border-radius: 0.8rem;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  transition: 0.2s linear all;
  vertical-align: middle;
}

.button i {
  font-size: 16px;
  margin-right: 0.5rem;
  transform: rotate(135deg);
}

.button:hover,
.button:active, {
  background-color: #111111;
  color: #FFFFFF;
}
