.title {
  text-align: center;
}

.description {
  text-align: center;
}

.buy-tickets {
  padding: 2rem 0;
}

.content {
  font-size: 18px;
  line-height: 2rem;
  text-align: center;
  width: 100%;
}

.content a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

.sponsors {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sponsors a {
  display: inline-block;
  margin: 0 1rem;
}
