.feature {
  align-items: center;
  background-color: #FAE7BB;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.feature img {
  max-width: 100%;
}
