.feature_logo {
  width: 240px;
  margin: auto;
  padding: 2rem 0;

  @media screen and (min-width: 600px) {
    width: 360px;
  }
}

@keyframes breeze {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#top-leaf {
  will-change: transform;
  animation: breeze 8s infinite ease-in-out 1s;
}

#main-leaf {
  will-change: transform;
  animation: breeze 8s infinite ease-in-out 0.5s;
}

#gumnut {
  will-change: transform;
  animation: breeze 8s infinite ease-in-out;
}

#bottom-leaf {
  will-change: transform;
  animation: breeze 8s infinite ease-in-out 0.25s;
}
