body {
  color: #3a3d28;
  font-family: "Martel", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 700;
  font-size: initial;
}

img {
  max-width: 100%;
}

p {
  margin-top: 0.5rem;
}
