.slider {
  max-width: 960px;
  margin: auto;
}

.slider .slick-slide {
  @media screen and (min-width: 600px) {
    padding: 0 1rem;
  }
}

.slider .slick-slide img {
  border-radius: 1rem;
  margin: 0px auto;
}

.slider .slick-prev {
  left: 1rem;
}

.slider .slick-next {
  right: 1rem;
}

.slider .slick-prev,
.slider .slick-next {
  cursor: pointer;
  font-family: "Coniferous";
  background-color: transparent;
  border: none;
  color: #3a3d28;
  height: 10rem;
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  z-index: 4;

  &:hover {
    color: #222;
  }

  &:focus {
    outline: none;
  }
}
