<div class="block">
  <div class="content">
    <p>Short description about who should go. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue et mauris a lobortis. Sed ut urna rhoncus, sagittis nibh quis, dapibus ligula. Cras dictum convallis mi, non pellentesque augue. Pellentesque mattis porta dui, vitae pulvinar sapien blandit ac. Sed condimentum sagittis metus, id sollicitudin lacus porttitor quis.</p>

    <h2>Organisers</h2>
    <p>Kieran Andrews</p>

    <h2>Diversity and Inclusion</h2>
    <p>Ut tristique tristique rhoncus. Fusce facilisis posuere urna, ac dictum turpis tempus feugiat. Sed malesuada risus massa, vel gravida ex ultrices ac. Sed ullamcorper commodo nisi quis tempor. Cras condimentum risus mi, at fringilla augue consequat vitae. Suspendisse id scelerisque orci. Duis tempor porta sem, id lobortis nulla fermentum non.</p>

    <h2>You should come to railscamp if</h2>
    <p>Ut tristique tristique rhoncus. Fusce facilisis posuere urna, ac dictum turpis tempus feugiat.</p>
    <ul>
      <li>Test</li>
      <li>Test</li>
      <li>Test</li>
    </ul>

    <h2>Food and Beverages</h2>
    <p>Ut tristique tristique rhoncus. Fusce facilisis posuere urna, ac dictum turpis tempus feugiat. Sed malesuada risus massa, vel gravida ex ultrices ac. Sed ullamcorper commodo nisi quis tempor. Cras condimentum risus mi, at fringilla augue consequat vitae. Suspendisse id scelerisque orci. Duis tempor porta sem, id lobortis nulla fermentum non.</p>

    <h2>Essentials to pack</h2>
    <p>Ut tristique tristique rhoncus. Fusce facilisis posuere urna, ac dictum turpis tempus feugiat.</p>
    <ul>
      <li>Test</li>
      <li>Test</li>
      <li>Test</li>
    </ul>

    <h2>Getting to Railscamp</h2>
    <p>Ut tristique tristique rhoncus. Fusce facilisis posuere urna, ac dictum turpis tempus feugiat. Sed malesuada risus massa, vel gravida ex ultrices ac. Sed ullamcorper commodo nisi quis tempor. Cras condimentum risus mi, at fringilla augue consequat vitae. Suspendisse id scelerisque orci. Duis tempor porta sem, id lobortis nulla fermentum non.</p>

    <h2>Departing Railscamp</h2>
    <p>Ut tristique tristique rhoncus. Fusce facilisis posuere urna, ac dictum turpis tempus feugiat. Sed malesuada risus massa, vel gravida ex ultrices ac. Sed ullamcorper commodo nisi quis tempor. Cras condimentum risus mi, at fringilla augue consequat vitae. Suspendisse id scelerisque orci. Duis tempor porta sem, id lobortis nulla fermentum non.</p>

    <h2>Sponsors</h2>
    <p>Envato.</p>
  </div>
</div>
