<div class="block">
  <h2 class="heading">COVID safety</h2>
  <div class="content">
    <p>We’ll be releasing a COVID-safe plan soon. You can download the 
    <a href="https://www.covid-19.sa.gov.au/restrictions-and-responsibilities/covid-safe-check-in" target="_blank">SA Goverment App</a> 
    so you can check in using a QR code.</p>
    <p>We will ensure we have sufficient seating, hand washing facilities and cleaning regimes.</p>
  </div>
</div>
