<div class="block">
  <div><%= partial 'parts/feature/logo' %></div>
  <div class="title">
    <h1 class="superheading">
      Yeah, us too<br>
    </h1>
  </div>
  <div class="description content">
    <p>It is with a heavy heart that we have decided to postpone the upcoming RailsCamp. We hope to hold it be able to hold it as soon as it is safe to do so.</p>
    <p>Please <a href="https://twitter.com/railscamp_au">follow us on Twitter</a> to be kept in the loop and <a href="https://ruby-au-join.herokuapp.com/">join the Ruby Australia</a> to keep in touch with the community.</p>
    <p>❤️ The RailsCamp 27 team.</p>
  </div>
</div>
