<div class="block">
  <h2 class="heading">FAQ</h2>
  <div class="content">
    <h3 class="subheading">Do I have to sleep in a tent?</h3>
    <p>By default, every ticket includes a bed in a shared dorm room. We have gendered dorms, unisex dorms and couples rooms which you can choose from after purchase. There is also a camping space if you so choose, but you need to bring your own tent. Please let us know when purchasing your ticket</p>
    <h3 class="subheading">Will there be internet access at the camp?</h3>
    <p>The campground has pockets of 3g depending on your carrier, some of which are inside, which is handy because of rain. It's probably best to assume you won't have internet access and plan accordingly.</p>
    <h3 class="subheading">How will I hack without the internet?!</h3>
    <p>We will provide a server with libraries and docs. If you need to Stack Overflow something, ask the person next to you!</p>
    <h3 class="subheading">I'm under 18, can I come?<br>(or: I have kids who are under 18, can they come?)</h3>
    <p>Unfortunately, we can't accommodate unaccompanied minors, please look into meetups and workshops in your area. If a parent is attending then we may be able to make arrangements. Please contact us before purchasing your ticket.</p>
    <h3 class="subheading">I have complicated dietary requirements, will you be able to feed me?</h3>
    <p>We are committed to providing food and drinks to accommodate all attendees needs, just let us know your requirements during ticket purchase and we will make sure you are catered for. If you have severe allergies please include this information and bring along your EpiPen.</p>
    <h3 class="subheading">Do you offer opportunity/diversity tickets?</h3>
    <p>We do! If you identify as part of a group that is underrepresented in tech, you can apply for an <a target="_blank" href="https://forms.gle/XKZAFEBgfmBkTS3r5">opportunity ticket</a>. Opportunity tickets work exactly the same as regular ones.</p>
    <p>If you would like to help us extend the reach of these tickets, you can make a donation via the <a target="_blank" href="<% ticket_url %>">tickets page</a>.<p>
    <h3 class="subheading">I heard there was a tube slide, is there a tube slide!?</h3>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ate7QX66xSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3 class="subheading">Where did all these wonderful photos come from?</h3>
    <p>Photos from previous events are courtesy of <a href="https://www.flickr.com/photos/dylanfm/">DylanFM</a> and <a href="https://www.flickr.com/photos/macleod_merrin/">Merrin Macleod</a>.</p>
  </div>
</div>
