<div class="block">
  <div><%= partial 'parts/feature/logo' %></div>
  <div><%= partial 'parts/feature/title' %></div>
  <div><%= partial 'parts/feature/description' %></div>
  <div><%= partial 'parts/buy-tickets' %></div>
</div>
