<div class="feature">
  <div>
    <div>
      <%= partial 'parts/teaser' %>
    </div>
    <div>
      <%# <a class="button" target="_blank" href="https://ti.to/ruby-australia/railscamp-27/with/gm-fzmeyk3w"><i class="fas fa-ticket-alt"></i> Buy Tickets</a> %>
    </div>
  </div>
</div>
