<div class="block">
  <h2 class="heading">The Venue</h2>
  <p><%= image_tag 'house.png', alt: 'Henry Rymill Centre - Woodhouse Activity Centre' %></p>
  <div class="content">
    <p><a target="_blank" href="https://goo.gl/maps/Z6mH1RofZBxGv3ds6">
      Henry Rymill Centre<br>
      Woodhouse Activity Centre<br>
      37 Spring Gully Rd, Piccadilly SA 5151</a>
    </p>
    <p>The venue has rooms with bunks as well as areas available for camping. Since it will be outside of fire danger season, we will be able to have a campfire.</p>
  </div>
</div>
