<div class="block">
  <h2 class="heading">Transport</h2>
  <div class="content">
    <p>A bus will be at the Adelaide Airport at 3pm. <strong>We recommend you book flights that arrive in Adelaide no later than 2pm</strong>. We will stop in the CBD to pick people up at 3:30 and then travel to the camp. We will stop at a shopping centre and bottle shop on the way for people to buy any snacks and beverages they’d like (meals are provided though!).</p>
    <p>On Monday a bus will depart from the camp by 10am heading back to Adelaide airport via the CBD. <strong>We recommend you book flights that leave Adelaide after 12pm (noon)</strong>.</p>
  </div>
</div>
